
propaganda_detector/checkpoint-20/config.json
propaganda_detector/checkpoint-20/model.safetensors
propaganda_detector/checkpoint-20/optimizer.pt
propaganda_detector/checkpoint-20/rng_state.pth
propaganda_detector/checkpoint-20/scheduler.pt
propaganda_detector/checkpoint-20/trainer_state.json
propaganda_detector/checkpoint-20/training_args.bin
propaganda_detector/checkpoint-38/config.json
propaganda_detector/checkpoint-38/model.safetensors
propaganda_detector/checkpoint-38/optimizer.pt
propaganda_detector/checkpoint-38/rng_state.pth
propaganda_detector/checkpoint-38/scheduler.pt
propaganda_detector/checkpoint-38/trainer_state.json
propaganda_detector/checkpoint-38/training_args.bin
propaganda_detector/final_model/config.json
propaganda_detector/final_model/model.safetensors
propaganda_detector/final_model/special_tokens_map.json
propaganda_detector/final_model/tokenizer.json
propaganda_detector/final_model/tokenizer_config.json
propaganda_detector/final_model/training_args.bin
propaganda_detector/final_model/vocab.txt
