
propaganda_detector/checkpoint-20/config.json
propaganda_detector/checkpoint-20/model.safetensors
propaganda_detector/checkpoint-20/optimizer.pt
propaganda_detector/checkpoint-20/rng_state.pth
propaganda_detector/checkpoint-20/scheduler.pt
propaganda_detector/checkpoint-20/trainer_state.json
propaganda_detector/checkpoint-20/training_args.bin
propaganda_detector/checkpoint-38/config.json
propaganda_detector/checkpoint-38/model.safetensors
propaganda_detector/checkpoint-38/optimizer.pt
propaganda_detector/checkpoint-38/rng_state.pth
propaganda_detector/checkpoint-38/scheduler.pt
propaganda_detector/checkpoint-38/trainer_state.json
propaganda_detector/checkpoint-38/training_args.bin
propaganda_detector/final_model/config.json
propaganda_detector/final_model/model.safetensors
propaganda_detector/final_model/special_tokens_map.json
propaganda_detector/final_model/tokenizer.json
propaganda_detector/final_model/tokenizer_config.json
propaganda_detector/final_model/training_args.bin
propaganda_detector/final_model/vocab.txt
propaganda_detector/checkpoint-1008/config.json
propaganda_detector/checkpoint-1008/model.safetensors
propaganda_detector/checkpoint-1008/optimizer.pt
propaganda_detector/checkpoint-1008/rng_state.pth
propaganda_detector/checkpoint-1008/scheduler.pt
propaganda_detector/checkpoint-1008/trainer_state.json
propaganda_detector/checkpoint-1008/training_args.bin
propaganda_detector/checkpoint-1071/config.json
propaganda_detector/checkpoint-1071/model.safetensors
propaganda_detector/checkpoint-1071/optimizer.pt
propaganda_detector/checkpoint-1071/rng_state.pth
propaganda_detector/checkpoint-1071/scheduler.pt
propaganda_detector/checkpoint-1071/trainer_state.json
propaganda_detector/checkpoint-1071/training_args.bin
propaganda_detector/checkpoint-1134/config.json
propaganda_detector/checkpoint-1134/model.safetensors
propaganda_detector/checkpoint-1134/optimizer.pt
propaganda_detector/checkpoint-1134/rng_state.pth
propaganda_detector/checkpoint-1134/scheduler.pt
propaganda_detector/checkpoint-1134/trainer_state.json
propaganda_detector/checkpoint-1134/training_args.bin
propaganda_detector/checkpoint-1197/config.json
propaganda_detector/checkpoint-1197/model.safetensors
propaganda_detector/checkpoint-1197/optimizer.pt
propaganda_detector/checkpoint-1197/rng_state.pth
propaganda_detector/checkpoint-1197/scheduler.pt
propaganda_detector/checkpoint-1197/trainer_state.json
propaganda_detector/checkpoint-1197/training_args.bin
propaganda_detector/checkpoint-1240/config.json
propaganda_detector/checkpoint-1240/model.safetensors
propaganda_detector/checkpoint-1240/optimizer.pt
propaganda_detector/checkpoint-1240/rng_state.pth
propaganda_detector/checkpoint-1240/scheduler.pt
propaganda_detector/checkpoint-1240/trainer_state.json
propaganda_detector/checkpoint-1240/training_args.bin
propaganda_detector/checkpoint-441/config.json
propaganda_detector/checkpoint-441/model.safetensors
propaganda_detector/checkpoint-441/optimizer.pt
propaganda_detector/checkpoint-441/rng_state.pth
propaganda_detector/checkpoint-441/scheduler.pt
propaganda_detector/checkpoint-441/trainer_state.json
propaganda_detector/checkpoint-441/training_args.bin
propaganda_detector/checkpoint-504/config.json
propaganda_detector/checkpoint-504/model.safetensors
propaganda_detector/checkpoint-504/optimizer.pt
propaganda_detector/checkpoint-504/rng_state.pth
propaganda_detector/checkpoint-504/scheduler.pt
propaganda_detector/checkpoint-504/trainer_state.json
propaganda_detector/checkpoint-504/training_args.bin
propaganda_detector/checkpoint-567/config.json
propaganda_detector/checkpoint-567/model.safetensors
propaganda_detector/checkpoint-567/optimizer.pt
propaganda_detector/checkpoint-567/rng_state.pth
propaganda_detector/checkpoint-567/scheduler.pt
propaganda_detector/checkpoint-567/trainer_state.json
propaganda_detector/checkpoint-567/training_args.bin
propaganda_detector/checkpoint-63/config.json
propaganda_detector/checkpoint-63/model.safetensors
propaganda_detector/checkpoint-63/optimizer.pt
propaganda_detector/checkpoint-63/rng_state.pth
propaganda_detector/checkpoint-63/scheduler.pt
propaganda_detector/checkpoint-63/trainer_state.json
propaganda_detector/checkpoint-63/training_args.bin
propaganda_detector/checkpoint-630/config.json
propaganda_detector/checkpoint-630/model.safetensors
propaganda_detector/checkpoint-630/optimizer.pt
propaganda_detector/checkpoint-630/rng_state.pth
propaganda_detector/checkpoint-630/scheduler.pt
propaganda_detector/checkpoint-630/trainer_state.json
propaganda_detector/checkpoint-630/training_args.bin
propaganda_detector/checkpoint-693/config.json
propaganda_detector/checkpoint-693/model.safetensors
propaganda_detector/checkpoint-693/optimizer.pt
propaganda_detector/checkpoint-693/rng_state.pth
propaganda_detector/checkpoint-693/scheduler.pt
propaganda_detector/checkpoint-693/trainer_state.json
propaganda_detector/checkpoint-693/training_args.bin
propaganda_detector/checkpoint-756/config.json
propaganda_detector/checkpoint-756/model.safetensors
propaganda_detector/checkpoint-756/optimizer.pt
propaganda_detector/checkpoint-756/rng_state.pth
propaganda_detector/checkpoint-756/scheduler.pt
propaganda_detector/checkpoint-756/trainer_state.json
propaganda_detector/checkpoint-756/training_args.bin
propaganda_detector/checkpoint-819/config.json
propaganda_detector/checkpoint-819/model.safetensors
propaganda_detector/checkpoint-819/optimizer.pt
propaganda_detector/checkpoint-819/rng_state.pth
propaganda_detector/checkpoint-819/scheduler.pt
propaganda_detector/checkpoint-819/trainer_state.json
propaganda_detector/checkpoint-819/training_args.bin
propaganda_detector/checkpoint-882/config.json
propaganda_detector/checkpoint-882/model.safetensors
propaganda_detector/checkpoint-882/optimizer.pt
propaganda_detector/checkpoint-882/rng_state.pth
propaganda_detector/checkpoint-882/scheduler.pt
propaganda_detector/checkpoint-882/trainer_state.json
propaganda_detector/checkpoint-882/training_args.bin
propaganda_detector/checkpoint-945/config.json
propaganda_detector/checkpoint-945/model.safetensors
propaganda_detector/checkpoint-945/optimizer.pt
propaganda_detector/checkpoint-945/rng_state.pth
propaganda_detector/checkpoint-945/scheduler.pt
propaganda_detector/checkpoint-945/trainer_state.json
propaganda_detector/checkpoint-945/training_args.bin
propaganda_detector/final_model_distilbert/config.json
propaganda_detector/final_model_distilbert/model.safetensors
propaganda_detector/final_model_distilbert/special_tokens_map.json
propaganda_detector/final_model_distilbert/tokenizer.json
propaganda_detector/final_model_distilbert/tokenizer_config.json
propaganda_detector/final_model_distilbert/training_args.bin
propaganda_detector/final_model_distilbert/vocab.txt
